[Unit]
Description=eInk display refresh service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/srv/zerodisplay
EnvironmentFile=/srv/zerodisplay/environment
ExecStart=/srv/zerodisplay/env/bin/python3 /srv/zerodisplay/report.py $ARGS
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
