[Unit]
Description=eInk display refresh service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/srv/zerodisplay
ExecStart=su -c "/srv/zerodisplay/env/bin/python3 /srv/zerodisplay/report.py" - pi
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
